# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno
.env
.env.*

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de compilación
*.so
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
*.swo

# IDEs / Editores
.vscode/
.idea/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db
